.bg-primary-- {
  background-color: #1eadcb;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
  color: #fff;
  background: #1eadcb;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
  color: #fff;
  background: #1eadcb;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #fff;
  background: #1eadcb;
}

.masthead {
  padding-top: 4.7rem;
  padding-bottom: 5rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 5.4rem;
    padding-bottom: 6rem;
  }
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel-caption {
  z-index: 2;
  text-align: left;
}

.carousel-caption>h5 {
  color: hsla(0, 0%, 100%, .8);
}

.carousel-caption>h1 {
  letter-spacing: .01em;
  text-transform: capitalize;
}

.carousel-caption>p {
  line-height: 150%;
  font-size: 22px;
}